<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Umut Park Web Sitesi</title>
    <meta name="description" content="" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <meta charset="utf-8">
    <link href="/Content/SiteLayout/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/SiteLayout/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="/Content/SiteLayout/css/jcarousel.css" rel="stylesheet" />
    <link href="/Content/SiteLayout/css/flexslider.css" rel="stylesheet" />
    <link href="/Content/SiteLayout/css/style.css" rel="stylesheet" />
    <link href="/Content/SiteLayout/skins/default.css" rel="stylesheet" />
</head>
<body style="background-color: lightblue">
    <div id="wrapper">
        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/Home/Index/"><span>UMUT</span>PARK</a>
                    </div>
                    <div class="navbar-collapse collapse ">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/Home/Index/">ANA SAYFA</a></li>
                            <li><a href="/Home/Hakkimizda/">HAKKIMIZDA</a></li>
                            <li><a href="/Home/Hizmetlerimiz/">HİZMETLERİMİZ</a></li>
                            <li><a href="/Home/İletişim/">İLETİŞİM</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        @RenderBody()
        @{ 
            Html.RenderAction("FooterPartial", "Home");
        }
    </div>
    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <script src="/Content/SiteLayout/js/jquery.js"></script>
    <script src="/Content/SiteLayout/js/jquery.easing.1.3.js"></script>
    <script src="/Content/SiteLayout/js/bootstrap.min.js"></script>
    <script src="/Content/SiteLayout/js/jquery.fancybox.pack.js"></script>
    <script src="/Content/SiteLayout/js/jquery.fancybox-media.js"></script>
    <script src="/Content/SiteLayout/js/google-code-prettify/prettify.js"></script>
    <script src="/Content/SiteLayout/js/portfolio/jquery.quicksand.js"></script>
    <script src="/Content/SiteLayout/js/portfolio/setting.js"></script>
    <script src="/Content/SiteLayout/js/jquery.flexslider.js"></script>
    <script src="/Content/SiteLayout/js/animate.js"></script>
    <script src="/Content/SiteLayout/js/custom.js"></script>
</body>
</html>