@model IEnumerable<WebProje.Models.Model.Hizmet>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hizmetler</h2>

<p>
    <a href="/Hizmet/Create/" class="btn btn-default">Yeni Ekle</a>
</p>

<table class="table table-bordered table-striped table-responsive-sm">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Baslik
            </th>
            <th>
                Aciklama
            </th>
            <th>
                ResimURL
            </th>
            <th>
                İşlemler
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.HizmetId
                </td>
                <td>
                    @item.Baslik
                </td>
                <td>
                    @Html.Raw(item.Aciklama)
                </td>
                <td>
                    <img class="img-responsive" src="@item.ResimURL" width="100" height="100" />
                </td>
                <td>
                    <a href="/Hizmet/Edit/@item.HizmetId">Düzenle</a> | <a href="Hizmet/Delete/@item.HizmetId">Sil</a>
                </td>
            </tr>
        }
    </tbody>    
</table>
